module pmda_allow 1.0;

require {
        type proc_psi_t;
        type xserver_misc_device_t;
        type xserver_var_run_t;
        type pcp_pmcd_t;
        class chr_file { ioctl map open read write };
        class dir search;
        class file { getattr open read };
        class sock_file { getattr write };
}

#============= pcp_pmcd_t ==============
allow pcp_pmcd_t proc_psi_t:dir search;
allow pcp_pmcd_t proc_psi_t:file { getattr open read };
allow pcp_pmcd_t xserver_misc_device_t:chr_file { ioctl map open read write };
allow pcp_pmcd_t xserver_var_run_t:sock_file { getattr write };
